* {
    margin: 0;
    padding: 0;
  }
  
  html {
    background: lightblue;
  }
  
  header {
    text-align: center;
    height: 60px;
    padding-top: 20px;
  }
  
  h3 {
    padding-bottom: 15px;
  }

  button {
    margin: 5px;
  }

  input {
    margin-right: 5px;
  }
  
  .nav {
    background-color: lightcoral;
    height: 60px;
  }

  img {
    width: 50%;
    border: 3px solid #000000
  }

  .exp {
    width: 25%;
  }
  
  .how {
    padding: 20px 0 20px 0;
    background-color: lightcyan;
    margin-top: 15px;
  }
  
  .group {
    display: flex;
    justify-content: space-around
  }

  .center {
    text-align: center
  }
  
  .file-text {
    width: 700px;
  }